@model GreenOClock.Mvc.Models.Companies.CompanyEmployeesViewModel
@using GreenOClock.Mvc.Helpers;

@{
    ViewBag.Title = "Update Employee Types";
}

<h1>Update Employee Types</h1>
<hr />

<p>
    @TempData["Message"]<br /> 
    Select roles for the employees of this company.
</p>

@using(Html.BeginForm("UpdateEmployeeTypes", "Company", new{CompanyId = Model.CompanyId}, FormMethod.Post))
{
    <div class="paged-list">
        <input type="hidden" name="?resultsPerPage" value="10" />
        <table>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Company Role
                </th>
            </tr>
            
            <tbody class="paged-container">
                @Html.EditorFor(m => m.CompanyEmployees)
            </tbody>
        </table>

        @Html.Partial("PagedControls", 2)
        @Html.Partial("PagedData")
    </div>
    <input type="submit" value="Submit" /> 
}
<br />
@Html.ActionLink("Back to Company", "Details", new{id = Model.CompanyId})
